pre{
    width: 100%;
    background: #565656;
    color: #FCFCFC;
    
}

div.asq-code-input{
    border-style:dashed;
    min-height: 6em;
    height: auto;
    background: transparent;
    color: #FCFCFC;
}

.asq-code-input:focus{
     border-style:solid;
}

pre.asq-evaluate{
    padding:0;
    margin:0;
    background: transparent;
    color: #333;
    border: none;
}

.asq-result{
    white-space:pre;
}

.asq-result-wrapper{
    position:relative;
}

.asq-result-wrapper.asq-correct{
    background-color:#dff0d8;
}

.asq-correct-ok{
    position:absolute;
    top:5px;
    right: 8px;
    opacity:0;
}

.asq-correct .asq-correct-ok{
    color:#5cb85c;
    opacity:1;
}